body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*ammended the landing page styles with the index, however I seperated the styles
 so that it does not interfere with the rest of the app*/

 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 .Landing{
  
  background-image: url('../public/ai-generated-8844739_1920.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.typing-text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgba(37, 67, 67, 0.75);
  margin-bottom: 20px;
  animation: typing 2s steps(14, end), blink-caret 0.75s step-end infinite;
  position: absolute;
}

.typing-text.stay {
  animation: none; 
  border-right: none;
}

.typing-text.next {
  animation: fadeOut 0.5s ease-out;
}

@keyframes typing {
  from {
    max-width: 0%;
  }
  to {
    max-width: 12.5%; 
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(66, 139, 139, 0.75);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.authFunction {
  background: rgba(255, 255, 255, 0.5); 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 8);
  width: 90%;
  max-width: 600px; 
  text-align: center;
  font: "Roboto";
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
  .footer {
    margin-top: 10px;
    color: rgb(37, 67, 67);
    margin-bottom: 5px;
  }
}

.authFunction.fade-in {
  opacity: 1; 
  transform: translateY(0); 
}

input{
  background: rgb(226, 222, 200);
  background-blend-mode: darken;
  box-shadow: rgb(37, 67, 67);
  font-family:"Roboto", sans-serif;
  border-radius: 4px;
  border-width: 2px;
  margin-bottom: 8px;
  height: 20px;
  font-size: medium;
  border-width: 3px;
}

label{
  display: block;
  font-weight: 300;
}

button{
  width: 190px;
  height: 30px;
  text-align: center;
  border-radius: 3.5px;
  border-style: hidden;
  font-size: medium;
  background: rgb(165, 105, 203);
  color: rgb(255, 240, 229);
  margin-bottom: 9px;
}
.toggle-button2{
  width:190px;
  height: auto;
}

h2{
  color: rgb(37, 67, 67);
}

.logoTitle {
  width: 2px;
  height: 4px;
  display: flex;
  align-items: center; 
}

.image-label {
  margin-left: 10px; 
  font-size: 1.8rem; 
  color: #763675; 
 
}
.whoAreWe{
  font-size: 48px;
  color: #8a7373;
  font-family: "Lato";
  font-weight: 300;
  text-align: center;
  margin-bottom: 1px;
  z-index: 10; 
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
.whoAreWe.fade-in {
  opacity: 1; 
  transform: translateY(0); 
}



.corner-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  height: auto;
  z-index: 10;
  font-family: "Roboto";
  color:#763675
}
.ribbon{
  width: 100%;
  height: 8.1%;
  top:0;
  left:0;
  position:absolute;
  display: flex;
  justify-content: flex-start;
  z-index: 11;
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in, transform 1s ease-out;
}
.ribbon.fade-in{
  opacity: .5; 
  transform: translateY(0);
}